---
import App from '../components/deposit-system/App';
---

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIM - Deposit.com.tr | Depozito İade Makineleri</title>
    <meta name="description" content="Geleceğin Geri Dönüşüm Teknolojisi. REVEGO, RVM Systems, Ripet ve Anker Andersen Türkiye distribütörü." />
</head>
<body>
    <App client:only="react" />
</body>
</html>
